<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @periodo.nombre %>
</p>

<p>
  <strong>Fechainicial:</strong>
  <%= @periodo.FechaInicial %>
</p>

<p>
  <strong>Fechafinal:</strong>
  <%= @periodo.FechaFinal %>
</p>

<%= link_to 'Edit', edit_periodo_path(@periodo) %> |
<%= link_to 'Back', periodos_path %>
