<h1>Listing unidad_medidas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Abreviatura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unidad_medidas.each do |unidad_medida| %>
      <tr>
        <td><%= unidad_medida.nombre %></td>
        <td><%= unidad_medida.abreviatura %></td>
        <td><%= link_to 'Show', unidad_medida %></td>
        <td><%= link_to 'Edit', edit_unidad_medida_path(unidad_medida) %></td>
        <td><%= link_to 'Destroy', unidad_medida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unidad medida', new_unidad_medida_path %>
