<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @local.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @local.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @local.telefono %>
</p>

<p>
  <strong>Ubigeo:</strong>
  <%= @local.ubigeo %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
