<%= simple_form_for(@detalle_pedido) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :pedido %>
    <%= f.input :NombreProducto %>
    <%= f.input :cantidad %>
    <%= f.input :PrecioParcial %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
